# Project Configuration
PROJECT_NAME="FastAPI Starter"

# Database Configuration
# DATABASE_TYPE options: postgres, mysql, sqlite
DATABASE_TYPE=sqlite

# DATABASE_URL examples:
# Postgres (Async): postgresql+asyncpg://user:password@localhost:5432/dbname
# Postgres (Sync):  postgresql://user:password@localhost:5432/dbname
# MySQL (Async):    mysql+aiomysql://user:password@localhost:3306/dbname
# SQLite (Async):   sqlite+aiosqlite:///./test.db
# SQLite (Sync):    sqlite:///./test.db
DATABASE_URL=sqlite+aiosqlite:///./test.db